@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #052f5f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-weight: 500;
  color: var(--primary);
}

img {
  height: 100%;
}
